#text{
    background-color: #00adb5;
    height:fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: -15px;
}
p{
    padding: 0;
    margin:0;
    color: #eee;
    
}
#qwe:hover .tooltiptext{
    visibility: visible;
}
 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  .copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:#222831;
    line-height: 3;
    text-align: center;
 }
 #txt{
    position: fixed ;
    bottom: 100px;
    margin-left:2.5%;
    margin-right:2.5%;
    width: 95%;
 }
 .navbar{
    background-color: #393e46;
     margin-bottom: 10px;
     width: 100%;
     position: fixed;
     top: 0;
}
a{
    color: eeeeee; 
    font-size: 25px;
    margin-top: 0px;
    background-color:#393e46;
}
@media screen and (min-width:768px) {
    #nav1, #nav2{
        color: eeeeee; 
        font-size: 25px;
        padding-top: 37.5px;
        padding-bottom: 37.5px;
        background-color:#393e46
    }
}